.film-container {
  display: flex;
  flex-direction: column;
  align-items: center;


  .image-container {
    box-shadow: 1px 1px 4px;
    display: block;
    border-radius: 5px;
    margin: 0;
    height: 225px;

    .image-wrapper {
      position: relative;
      width: 150px;
      height: 225px;
      overflow: hidden;
      border-radius: 5px;

      .film-image {
        transition: filter 0.3s ease;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 225px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: center;

        .film-title {
          padding: 2px;
        }
      }

      &:hover .film-image {
        filter: grayscale(100%);
      }

      &:hover .overlay {
        opacity: 1;
      }
    }


    .placeholder-image {
      width: 150px;
      height: 225px;
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #888;
    }
  }

  .film-details {
    margin-top: 4px;
      width: 100%;
      text-align: center;

    .film-meta {
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 1em;

      .rating-container {
        display: flex;
        align-items: center;
        gap: 0;
        color: #555;
        font-size: 1em;
        .rating {
          display: flex;
          align-items: center;
        }

        .rewatch-icon {

          display: flex;
          align-items: center;

          svg {
            width: 0.75em;
            height: 0.75em;
          }

          @media screen and (max-width: 800px) {
            svg {
              width: 0.7em;
              height: 0.7em;
            }
          }
        }
      }

      .watched-date {
        color: #AAA;
      }
    }

    p {
      margin: 4px 0;
    }
  }
}