.film-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 18%; /* Makes it match the book card width for 5 items per row */
  margin-bottom: 1.5rem;
  padding-top: 8px; /* Add padding at top to allow space for hover effect */

  .image-container {
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2); /* Updated for consistent look */
    display: block;
    border-radius: 5px;
    margin: 0;
    height: 225px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3); /* Enhanced shadow on hover */
    }

    .image-wrapper {
      position: relative;
      width: 150px;
      height: 225px;
      overflow: hidden;
      border-radius: 5px;

      .film-image {
        transition: filter 0.3s ease;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 150px;
        height: 225px;
        background-color: rgba(0, 0, 0, 0.5);
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        text-align: center;

        .film-title {
          padding: 2px;
        }
      }

      &:hover .film-image {
        filter: grayscale(100%);
      }

      &:hover .overlay {
        opacity: 1;
      }
    }

    .placeholder-image {
      width: 150px;
      height: 225px;
      background-color: #f0f0f0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #888;
    }
  }

  .film-details {
    margin-top: 4px;
    width: 100%;
    text-align: center;

    .film-meta {
      display: flex;
      flex-direction: column; /* Changed from row to column */
      align-items: center; /* Center align everything */
      justify-content: center;
      font-size: 1em;
      gap: 4px; /* Add a small gap between rating and date */

      .rating-container {
        display: flex;
        align-items: center;
        gap: 2px;
        color: #555;
        font-size: 1em;
        .rating {
          display: flex;
          align-items: center;
        }

        .rewatch-icon {
          display: flex;
          align-items: center;
          margin-left: 4px; /* Add a little space between rating and rewatch icon */

          svg {
            width: 0.75em;
            height: 0.75em;
          }
        }
      }

      .watched-date {
        color: #AAA;
        margin-top: 2px; /* Add a bit of space above the date */
      }
    }

    p {
      margin: 4px 0;
    }
  }
}