.music-container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.music-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
}

.spinner-container {
  height: 279px;
  width: 100%;
  display: flex;
  margin: auto;
}
.dropdown-container {
  gap: 1rem;
  max-height: 4rem;
  white-space: nowrap;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-left: 2rem;
}
.dropdown-menu {
  font-size: 1.5em; // Adjust the font size to match the h2 element
  font-weight: 100;
  color: #EEEEEE; // Adjust the color to match the h2 element
  background-color: #222831; // Adjust the background color if needed
  border-radius: 4px;
}

@media screen and (max-width: 800px) {

  .music-container {
    padding: 0 0.5em;
  }

  .dropdown-container {
    width: 100%;
    padding-left: 0;
    gap: 0.2rem;
  }

  .dropdown-menu {
    font-size: 1rem;
  }
  .music-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    gap: 1.5rem;
    justify-content: flex-start;
  }
}