.music-container {
  display: flex;
  flex-direction: column;
  background-color: #222831;
  border-radius: 10px;
}

.music-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; // This aligns 1st and last items to edges
  padding: 0 2rem;
  overflow-y: auto;
}

/* Add this to ensure each album takes exactly 1/5 of the space */
.music-list::after {
  content: "";
  flex: 0 0 18%; /* Same width as music items */
}

.spinner-container {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

.dropdown-container {
  gap: 1rem;
  max-height: 4rem;
  white-space: nowrap;
  width: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-left: 2rem;
}

.dropdown-menu {
  font-size: 1.5em;
  font-weight: 100;
  color: #EEEEEE;
  background-color: #222831;
  border-radius: 4px;
}

@media screen and (max-width: 800px) {
  .music-container {
    padding: 0 0.5em;
  }

  .dropdown-container {
    width: 100%;
    padding-left: 0;
    gap: 0.2rem;
  }

  .dropdown-menu {
    font-size: 1rem;
  }

  .music-list {
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    gap: 1.2em;
    padding-bottom: 1rem;
    padding-left: 1rem;
    justify-content: flex-start;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}