:root {
  --font-geist-sans: 'Geist', sans-serif;
  --font-geist-mono: 'Geist Mono', monospace;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}
@media screen and (max-width: 800px) {
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  * {
    box-sizing: border-box;
  }
}

body {
  font-family: var(--font-geist-sans);
  background-color: #222831;
}

h2 {
  font-weight: 300;
  font-size: 1.5rem;
  color: #EEEEEE;
}

footer {
  margin-top: auto;
}

@media screen and (max-width: 800px){
  h2 {
    font-size: 1.3rem;
  }
}

span {
  color:#EEEEEE;
}
p {
  color: #EEEEEE;
}

@media screen and (max-width: 800px) {
  span {
      font-size: 0.8rem;
    }

    p {
      font-size: 0.8rem;
    }
}
