.page {
  font-family: var(--font-geist-sans);
  display: flex;
  flex-direction: column;
  gap: 2rem;
}


.main {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  @media screen and (max-width: 800px) {
      margin: 2px;
    }
}

.main ol {
  font-family: var(--font-geist-mono);
  padding-left: 0;
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style-position: inside;
}