.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #181c22;
  width: 100%;
  font-family: var(--font-geist-sans);
  box-shadow: 1px 0px 6px;
}

.titleContainer {
  text-align: center;
}

.navbarTitle {
  color: #FFD369;
  font-size: 24px;
}
