.films-container {
  display: flex;
  flex-direction: column;
  background-color: #393E46;
  border-radius: 10px;
  box-shadow: 1px 1px 4px;
}

.films-header {
  max-height: 4rem;
  white-space: nowrap;
  width:fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  padding-left: 2rem;
}

.film-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: center;
  padding-bottom: 4px;
  overflow-y: auto;
}

.spinner-container {
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  justify-content: center;
}

@media (max-width: 800px) {
  .films-container {
    padding: 0 0.5em;
  }
  .films-header {
    padding-left: 0;
  }
  .film-list-container {
    flex-wrap: nowrap;
    overflow-x: auto;
    max-width: 100%;
    gap: 1.5em;
    justify-content: flex-start;
  }
}